.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
}

.inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #7e8ef1;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.inputField:focus {
    border-color: #615efc;
}

.button {
    background-color: #615efc;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    text-align: center;
}

.button:hover {
    background-color: #7e8ef1;
    transform: scale(1.05);
}

.button:active {
    background-color: #d1d8c5;
    color: #615efc;
    transform: scale(0.95);
}

input::placeholder {
    color: #7e8ef1;
}

@media (max-width: 600px) {
    .formContainer {
        padding: 20px;
        max-width: 90%;
    }

    .button {
        font-size: 14px;
    }
}
